<div id="sig" style="min-width: 960px; min-height: 38px; line-height: 18px; margin: 6px 0; padding: 8px; font-family: 'Helvetica', Verdana, Arial, Sans-Serif; font-size: 12px; color: black; " >
		<a href="{{orglink}}" title="{{organization}}"><img src="https://raw.github.com/{{github}}/autographd/master/img/{{logo}}" alt="{{organization}}" style="float: left; padding: 2px 2px 8px 0; border: none; margin: 0 12px 0 0;"></a>
		<div style="padding: 2px 0 0 0">
			<span style="font-size:13px color: #666666;">{{fullname}}{{#if position}}, {{position}}{{/if}}</span>
			<br />
			<a href="{{departlink}}" title="cs.aau.dk" style="font-size: 11px; color: black; text-decoration: none;">{{#if department}}{{department}} &mdash; {{/if}}{{organization}}</a>
</div>
